* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.gz binary
*.zip binary

src/** linguist-vendored
build.zig linguist-vendored
signal-server/dist/** linguist-generated
zig-out/** linguist-generated
